@media (max-width: 1100px) {

  .createx-logo + .header-navigation-list {
    display: none;
  }

  .createx-logo + .header-navigation-list + .user-links-wrapper {
    display: none;
  }

  .nav-burger {
    display: block;
  }

  .nav-burger .burger-nav-list {
    width: 35vw;
    flex-direction: column;
  }
}


@media (max-width: 1020px) {

  .section-container {
    grid-template-columns: 1fr;    
    justify-items: center;
    column-gap: 0;
    padding: 10px 20px;
  }

  .pretitle {
    font-size: 12px;
  }

  .section-title {
    font-size: 26px;
    line-height: 30px;
  }

  .pretitle,
  .section-title {
    text-align: center;
  }

  .right-floated-btn,
  .left-floated-btn {
    justify-self: center;
    margin-top: -40px;
    margin-bottom: 40px;
    grid-row: 3;
  }

  .image-container {
    transform: scale(0.5);
  }
  
  .advantages-section .image-container { 
    margin-top: -120px;
    margin-bottom: -100px;
  }

  .header-logo {
    margin-bottom: 25px;
  }

  .header-navigation-list {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .user-links-wrapper {
    max-width: 160px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }

  .intro-title {
    max-width: 340px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  .intro-image-container {
    grid-row: 4;
    max-height: 300px;
  }

  .statistics-list {
    max-width: 260px;
  }

  .advantages-list {
    max-width: 340px;
  }

  .courses-list {
    justify-items: center;
    max-width: 370px;
  }
  
  .small-course-card {
    max-width: 350px;
    padding: 15px 10px;
    gap: 5px;
    padding-left: 180px;
    background-size: 165px 165px;
  }

  .course-name {
    font-size: 10px;
    line-height: 24px;
  }

  .price-container {
    flex-wrap: wrap;
  }

  .course-author {
    font-size: 10px;
  }

  .benefits-buttons-list {
    justify-content: center;
  }

  .benefit-text {
    max-width: 365px;
    margin: auto;
    text-align: center;
  }

  .benefit-text p {
    max-width: 300px;
  }

  .events-list {
    max-width: 375px;
  }

  .events-card {
    grid-template-columns: 1fr 3fr;
    row-gap: 25px;
    grid-template-areas: "day date"
                        "description description"
                        "button button";
  }

  .event-day {
    grid-area: day;
  }

  .event-date-wrapper {
    grid-area: date;
    margin-right: 0;
  }

  .event-description-wrapper {
    grid-area: description;
  }

  .events-card .button {
    grid-area: button;
  }

  .events-button-wrapper {
    width: 240px;
  }

  .events-more-title {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }

  .certificate-section .one-columned-container {
    justify-items: center;
  }

  .certificate-illustration-container {
    margin-top: -110px;
    grid-column: 1;
    grid-row: 5;
  }

  .accreditation-list {
    gap: 20px;
  }

  .tutors-section {
    margin-top: -200px;
    padding-top: 80px;
  }

  .tutors-list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -70px;
    margin-bottom: -70px;
  }

  .reviews-slider {
    max-width: 360px;
  }

  .review-item {
    padding: 20px;
  }

  .review-text::before {
    left: 15px;
  }

  .reviews-slider-buttons {
    top: 55%;
  }

  .blog-list {
    justify-content: start;
    max-width: 650px;
  }

  .post-item {
    max-width: 310px;
  }

  .post-item:nth-child(2n) {
    margin-right: 0;
  }

  .post-parameters {
    margin-right: auto;
  }

  .post-param {
    font-size: 12px;
  }

  .blog-image-wrapper {
    transform: scale(0.8);
  }

  .subscribe-section:after {
    display: none;
  }

  .subscribe-section:before {
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
  }

  .subscribe-input {
    margin-right: 0;
    width: 320px;
  }

  .footer-column:last-child {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .nav-burger .nav-list-opened {
    width: 70vw;
  }

  .blog-list {
    flex-direction: column;
    justify-content: center;
  }
  
  .post-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

}

@media (max-width: 640px) {

  .tutors-list {
    grid-template-columns: 1fr;
  }

  .tutor-card {
    transform: scale(0.8);
  }

  .tutors-slider-buttons {
    width: 95%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .tutor-card:not(:nth-child(1)) {
    display: none;
  }

  .review-item {
    transform: scale(0.8);
  }

}

@media (max-width: 560px) {

  .footer-column:nth-child(2n) {
    align-items: flex-end;
  }

  .footer-column:nth-child(2n) .footer-column-list {
    align-items: flex-end;
  }
}

@media (max-width: 432px) {
  
  .intro-buttons-list {
    max-width: 200px;
    flex-direction: column-reverse;
    gap: 20px;
  }


  .footer-container {
    padding: 20px;
    gap: 20px;
  }

  .footer-column:nth-child(2) {
    align-items: flex-start;
  }

  .footer-column:nth-child(3) {
    align-items: flex-end;
  }

  .footer-column:nth-child(2) .footer-column-list {
    align-items: flex-start;
  }

  .footer-column:nth-child(3) .footer-column-list {
    align-items: flex-end;
  }

  .footer-column:nth-child(4) {
    align-items: center;
    width: 100%;
  }

  .footer-column:nth-child(4) .footer-column-list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer-column:nth-child(4) .footer-contacts-item {
    margin-bottom: 0;
  }

  .footer-column:last-child {
    align-items: center;
  }

  .copyright {
    max-width: 250px;
  }

  
}
