:root {
  --main-font: "Lato", sans-serif;
  
  --white: #ffffff;
  --gray-200: #f4f5f7;
  --gray-300: #e5e8ed;
  --gray-400: #d7dadd;
  --gray-500: #b3b7bc;
  --gray-600: #9a9ca5;
  --gray-700: #787a80;
  --gray-800: #424551;
  --gray-900: #1e212c;
  --black: #000000;

  --primary-color: #ff3f3a;
  --secondary-color: #ffcf2d;

  --section-gradient: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  --section-gradient-no-opacity:  linear-gradient(55.95deg, rgb(255, 63, 58) 0%, rgb(247, 94, 5) 100%);
  --btn-gradient: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Lato-Black.woff") format("woff");
  font-display: swap;
}

@keyframes burger-menu-item {
  from {transform: translateX(-200px); -webkit-transform: translateX(-200px);}
  to {transform: translateX(0px); -webkit-transform: translateX(0px);}
}

/************************************************************************************************

                                  Global styles

************************************************************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: var(--gray-800);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/********************************     Containers styles     ********************************/

.section {
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.section-container {
  position: relative;
  display: grid;
  max-width: 1310px;
  margin: auto;
  padding: 80px 40px;
  grid-template-columns: 1.2fr 1fr;
  grid-auto-rows: min-content;
  column-gap: 10vw;
  justify-content: center;
  align-items: center;
}

.one-columned-container {
  grid-template-columns: 1fr;    
  justify-items: center;
  column-gap: 0;
}

.gradient-bg {
  background: var(--section-gradient);
}

.gray-bg {
  background: var(--gray-200);
}

.parallax {
  display: block;
  position: absolute;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax:nth-child(1) {
  top: 200px;
  right: 10vw;
  width: 110px;
  height: 110px;
  background-image: url("../images/textures/shapes.svg");
}

.parallax:nth-child(2) {
  top: 740px;
  left: 40vw;
  width: 110px;
  height: 110px;
  background-image: url("../images/textures/shapes-1.svg");
}

.parallax:nth-child(3) {
  top: 90%;
  left: -140px;
  width: 284px;
  height: 284px;
  background-image: url("../images/textures/circles.svg");
}

.parallax:nth-child(4) {
  top: 70%;
  right: -70px;
  width: 187px;
  height: 137px;
  background-image: url("../images/textures/dots.svg");
}

.parallax:nth-child(5) {
  top: 460px;
  left: 35vw;
  width: 61px;
  height: 61px;
  background-image: url("../images/textures/half-circle.svg");
}

.parallax:nth-child(6) {
  top: 220px;
  left: 5vw;
  width: 96px;
  height: 96px;
  background-image: url("../images/textures/shapes-rotated.svg");
}

/********************************     Buttons     ********************************/

.button {
  padding: 0 44px;
  font-weight: 700;
  line-height: 52px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
}

.filled-btn {
  background: var(--btn-gradient);
  color: var(--white);
}

.filled-btn:hover {
  box-shadow: 0px 0px 2px black;
}

.filled-btn:active {
  box-shadow: inset 0px 0px 8px black;
}

.unfilled-btn {
  background: none;
  background-color: transparent;
  outline: solid 1px var(--primary-color);
  color: var(--primary-color);
}

.unfilled-btn:hover {
  background: var(--btn-gradient);
  color: var(--white);
}

.unfilled-btn:active {
  box-shadow: inset 0px 0px 8px black;
}

.slider-btn {
  width: 48px; 
  height: 48px;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.slider-btn svg {
  transform: translateY(1.5px);
}

.slider-btn-next {
  transform: rotate(180deg);
}

.slider-btn:hover {
  background-color: var(--primary-color);
}

.slider-btn:hover svg {
  fill: var(--white);
}

.left-floated-btn {
  justify-self: start;
  align-self: start;
}

.right-floated-btn {
  justify-self: end;
  align-self: start;
}

/********************************     Titles      ********************************/

.section-title {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  font-size: 2.4vw;
  line-height: 60px;
  font-weight: 900;
  color: var(--gray-900);
  grid-column-start: 1;
  z-index: 1;
}

.pretitle {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 0.83vw;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  align-self: end;
  order: -1;
}

/************************************************************************************************

                                  Header styles

************************************************************************************************/

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  max-width: 1230px;
  width: 100%;
  align-items: center;
}

.createx-logo {
  display: block;
  width: 130px;
  height: 22px;
  margin-right: 60px;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 432px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: auto;
  align-items: center;
  list-style-type: none;
}

.header-navigation-item:not(:last-child) {
  margin-right: 40px;
}

.header-navigation-link {
  font-weight: 700;
  color: var(--gray-800);
  text-decoration: none;
  white-space: nowrap;
}

.active-page .header-navigation-link {
  color: var(--primary-color);
}

.header-navigation-link:hover {
  opacity: 0.8;
}

.user-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 386px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.login-btn {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}

/********************************     Burger navigation     ********************************/

.nav-burger {
  display: none;
  margin-right: auto;

}

.burger-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  z-index: 1000;
}

.burger-line {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: var(--black);
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.burger-btn:hover .burger-line {
  background-color: var(--gray-900);
}

.burger-line:not(:last-child) {
  margin-bottom: 6px;
}

.burger-open-first-line {
  position: fixed;
  top: 26px;
  right: 25px;
  transform: rotate(45deg);
}

.burger-open-second-line {
  transform: scale(0);
}

.burger-open-third-line {  
  position: fixed;
  top: 26px;
  right: 25px;
  transform: rotate(-45deg);
}

.nav-burger .burger-nav-list {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  padding: 5vh;
  list-style-type: none;
  flex-direction: column;
  background-color: rgba(30, 33, 44, 0.8);
  overflow: hidden;
  transform: translateX(200%);
  transition: 0.4s;
}

.nav-burger .nav-list-opened {
  transform: translateX(0);
  z-index: 100;
  overflow: auto;
}

.burger-nav-list .header-navigation-list {
  flex-direction: column;
  margin-bottom: 15vh;
}

.burger-nav-list .header-navigation-item:not(:last-child) {
  margin-bottom: 6vh;
  -webkit-margin-after: 6vh;
}

.burger-nav-list .header-navigation-item {
  margin: 0;
}

.burger-nav-list .header-navigation-link {
  color: var(--white);
  font-size: 1.6em;
}

.burger-nav-list .user-links-wrapper {
  justify-content: center;
  gap: 5vh;
}

.nav-burger .login-btn {
  font-size: 1em;
}

.nav-burger .login-btn svg {
  transform: scale(1.2);
}

/********************************     End of burger navigation     ********************************/

.play-btn-wrapper {
  display: flex;
  align-items: center;
}

.play-btn {
  display: block;
  margin-right: 16px;
  padding: 0;
  width: 52px;
  height: 52px;
  background-image: url("../images/play-btn-triangle.svg");
  background-size: 16px 16px;
  background-position: 55% 50%;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.play-btn:hover {
  outline: solid 16px rgba(255, 63, 58, 0.12);
}

.play-btn-text {
  font-size: 14px;
  line-height: 21px;
}

.intro-title {
  max-width: 500px;
  margin: 20px 0 50px;
  font-size: 3.33vw;
  line-height: 83.2px;
}

.intro-buttons-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 373px;
  justify-content: space-between;
  align-self: baseline;
}

.intro-image-container {
  max-width: 600px;
  max-height: 550px;
  grid-row: 1 / 4;
  grid-column: -2 / -1;
}

.intro-illustration {
  width: 31.25vw;
  min-width: 310px;
  height: auto;
}

.statistics-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 140px;
  padding: 0;
  grid-column: 1 / -1;
  justify-content: space-between;
  order: 5;
}

.statistics-item {
  display: flex;
  align-items: center;
}

.statistics-number {
  margin-right: 12px;
  color: var(--gray-900);
  font-weight: 900;
  font-size: 46px;
  line-height: 60px;
}

/************************************************************************************************

                                  Main styles

************************************************************************************************/

.page-main {
  padding: 0;
  flex-grow: 1;
}

/********************************     Advantages-section      ********************************/

.advantages-content-container {
  display: grid;
  justify-content: center;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  max-width: 390px;
  list-style-type: none;
}

.advantages-item {
  display: grid;
  grid-template-columns: 16px auto;
  gap: 16px;
  min-width: 240px;

  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.advantages-item::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  background-image: url("../images/check-icon.svg");
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;

  content: "";
}

.advantages-image-wrapper {
  max-width: 705px;
  max-height: 550px;
}

.advantages-image {
  width: 36.7vw;
  min-width: 320px;
  height: auto;
}

.advantages-section .parallax:nth-child(1) {
  height: 180px;
  width: 130px;
  top: 550px;
  left: -30px;
  background-image: url("../images/textures/dots-yellow.svg");
}

.advantages-section .parallax:nth-child(2) {
  height: 287px;
  width: 287px;
  top: 250px;
  left: 90vw;
  background-image: url("../images/textures/circles-yellow.svg");
}

/********************************     Courses-section      ********************************/

.courses-list {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-column: span 2;
  gap: 30px;
  list-style-type: none;
  justify-content: center;
}

.course-card {
  border: solid 1px var(--gray-300);
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.small-course-card {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  padding: 32px;
  padding-left: 256px;
  justify-content: space-around;
  align-items: flex-start;

  background-size: 214px 214px;
  background-position: left;
  background-repeat: no-repeat;
}

.course-card:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.small-course-card:nth-of-type(1) {
  background-image: url("../images/courses-card-1.jpg");
}

.small-course-card:nth-of-type(2) {
  background-image: url("../images/courses-card-2.jpg");
}

.small-course-card:nth-of-type(3) {
  background-image: url("../images/courses-card-3.jpg");
}

.small-course-card:nth-of-type(4) {
  background-image: url("../images/courses-card-4.jpg");
}

.small-course-card:nth-of-type(5) {
  background-image: url("../images/courses-card-5.jpg");
}

.small-course-card:nth-of-type(6) {
  background-image: url("../images/courses-card-6.jpg");
}

.course-type-badge {
  display: inline-block;
  vertical-align: middle;
  max-width: 111px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 4px;
  color: var(--white);
}

.badge-marketing {
  background-color: #03cea4;
}

.badge-management {
  background-color: #5a87fc;
}

.badge-hr {
  background-color: #f89828;
}

.badge-design {
  background-color: #f52f6e;
}

.badge-development {
  background-color: #7772f1;
}

.course-name {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  color: var(--gray-900);
}

.price-container {
  display: flex;
}

.course-price {
  color: #ff4242;
  margin-right: 16px;
}

.course-author {
  position: relative;
  color: var(--gray-700);
  white-space: nowrap;
}

.course-author::before {
  position: absolute;
  display: inline-block;
  bottom: 4px;
  left: -8px;
  width: 1px;
  height: 16px;
  background-color: var(--gray-700);
  border-radius: 4px;

  content: "";
}

.courses-page-body .section-courses .section-container {
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 60px 40px;
}

.filters-wrapper {
  display: grid;
  grid-auto-flow: column;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  grid-column: 1 / -1;
  justify-content: space-between;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 1000px;
  list-style-type: none;
}

.search-input {
  padding-right: 45px !important;
  background-image: url("../images/search.svg");
  background-size: 16px 16px;
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.courses-page-body .courses-list {
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 390px);
  grid-column: 1 / -1;
}

.big-course-card {
  display: grid;
  grid-template-rows: 23px 60px 27px;
  gap: 20px;
  padding: 24px;
  padding-top: 260px;
  height: 440px;
  width: 370px;

  background-size: 390px 240px;
  background-position: top;
  background-repeat: no-repeat;
}

.big-course-card .course-name {
  font-size: 24px;
}

.big-course-card:nth-child(1) {
  background-image: url("../images/card/image-1.jpg")
}

.big-course-card:nth-child(2) {
  background-image: url("../images/card/image-2.jpg")
}

.big-course-card:nth-child(3) {
  background-image: url("../images/card/image-3.jpg")
}

.big-course-card:nth-child(4) {
  background-image: url("../images/card/image-4.jpg")
}

.big-course-card:nth-child(5) {
  background-image: url("../images/card/image-5.jpg")
}

.big-course-card:nth-child(6) {
  background-image: url("../images/card/image-6.jpg")
}

.big-course-card:nth-child(7) {
  background-image: url("../images/card/image-7.jpg")
}

.big-course-card:nth-child(8) {
  background-image: url("../images/card/image-8.jpg")
}

.big-course-card:nth-child(9) {
  background-image: url("../images/card/image-9.jpg")
}

.list-load-more {
  display: inline-block;
  padding: 0;
  max-width: 116px;
  margin-left: auto;
  margin-right: auto;
}

.list-load-more::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url("../images/load-more.svg");
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;

  content: "";
}

/********************************     Benefits-section      ********************************/

.benefits-buttons-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1230px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  grid-column: span 2;
  list-style-type: none;
  justify-content: space-between;
}

.benefits-buttons-item .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-buttons-item svg {
  margin-right: 8px;
}

.inactive-btn {
  outline: none;
  color: var(--gray-600);
}

.benefits-item-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 400px);
  align-items: center;
  justify-content: space-between;
}

.benefits-item-wrapper .subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.benefit-text {
  max-width: 495px;
}

.subtitle {
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 900;
  color: var(--gray-900);
}

.benefits-select {
  display: none;
}

.benefit-image-container {
  justify-self: end;
  max-width: 600px;
  max-height: 440px;
}

.benefit-illustration {
  width: 31.25vw;
  min-width: 310px;
  height: auto;
  margin: auto;
}

/********************************     Events-section      ********************************/

.events-list {
  display: flex;
  width: 100%;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  flex-direction: column;
  padding: 0;
}

.events-card {
  display: grid;
  grid-template-columns: 70px 140px auto 140px;
  padding: 32px 40px;
  background-color: var(--white);
  border-radius: 4px;
  align-items: center;
}

.events-card:not(:last-child) {
  margin-bottom: 24px;
}

.event-day {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  max-width: 60px;
  font-size: 48px;
  line-height: 62.4px;
  font-weight: 900;
  color: var(--primary-color);
}

.event-date-wrapper {
  display: flex;
  margin-right: 42px;
  flex-direction: column;
  align-items: flex-start;
}

.event-month {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--gray-900);
}

.event-time {
  color: var(--gray-700);
}

.events-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: auto;
}

.events-card .button {
  padding: 0 32px;
}

.events-card:hover  {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  z-index: 2;
}

.event-name {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--gray-900);
}

.events-more-title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  color: var(--gray-900);
}

.events-section .parallax {
  top: 400px;
  right: -20px;
  width: 284px;
  height: 284px;
  background-image: url("../images/textures/circles.svg");
}

/********************************     Certificate-section      ********************************/

.certificate-section {
  overflow: visible;
}

.certificate-section .one-columned-container {
  justify-items: start;
}

.certificate-illustration-container {
  max-width: 705px;
  max-height: 500px;
  padding: 0;
  margin: 0;
  grid-column: 2;
  grid-row: 1 / 6;
  z-index: 1;
}

.certificate-image {
  width: 36.7vw;
  min-width: 335px;
  height: auto;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

.accreditation-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 40px;
  list-style-type: none;
}

.accreditation-item {
  display: block;
  width: 105px;
  height: 50px;
  background-position: center;
  background-size: 105px 50px;
  background-repeat: no-repeat;
}

.certificate-description {
  margin: 0;
  margin-bottom: 32px;
}

.accreditation-item:nth-of-type(1) {
  background-image: url("../images/certificate-logo-1.png");
}

.accreditation-item:nth-of-type(2) {
  background-image: url("../images/certificate-logo-2.png");
}

.accreditation-item:nth-of-type(3) {
  background-image: url("../images/certificate-logo-3.png");
}

/********************************     Tutors-section      ********************************/

.tutors-section {
  margin-top: -180px;
}

.tutors-section .section-container {
  padding-bottom: 40px;
}

.tutors-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 285px);
  gap: 30px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow-x: hidden;
  grid-column: span 2;
}

.tutors-slider-buttons {
  display: flex;
}

.tutor-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.tutor-image-wrapper:hover {
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);

  background-color: var(--secondary-color);
}

.tutor-image-wrapper {
  position: relative;
  width: 285px;
  height: 340px;
  margin-bottom: 16px;
  padding: 20px;
  padding-bottom: 0;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.tutor-social-list {
  position: absolute;
  display: none;
  width: 126px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  right: 20px;
  bottom: 20px;
}

.tutor-social-item {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
}

.tutor-image-wrapper img {
  transition: 0.4s;
}

.tutor-image-wrapper:hover img {
  transform: translateY(30px);
}

.tutor-social-item:hover {
  opacity: 1;
}

.tutor-image-wrapper:hover .tutor-social-list {
  display: flex;
}

.tutor-social-item:first-child {
  background-image: url("../images/Facebook.svg");
}

.tutor-social-item:nth-child(2) {
  background-image: url("../images/Instagram.svg");
}

.tutor-social-item:last-child {
  background-image: url("../images/Linked-In.svg")
}

.tutor-social-btn {
  display: block;
}

.tutor-name {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.tutor-position {
  text-align: center;
  color: var(--gray-700);
}

.tutor-card:nth-child(n + 5) {
  display: none;
}

.tutors-section .parallax:nth-child(1) {
  top: 400px;
  right: 10vw;
  width: 110px;
  height: 110px;
  background-image: url("../images/textures/shapes.svg");
}

.tutors-section .parallax:nth-child(2) {
  top: 600px;
  left: 10vw;
  width: 110px;
  height: 110px;
  background-image: url("../images/textures/shapes-1.svg");
}

.tutors-section .parallax:nth-child(3) {
  top: 10%;
  left: -140px;
  width: 284px;
  height: 284px;
  background-image: url("../images/textures/circles.svg");
}

/********************************     Reviews-section      ********************************/

.reviews-section {
  background-color: var(--gray-200);
}

.reviews-slider {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style-type: none;
}

.reviews-slider-buttons {
  position: absolute;
  top: 350px;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.review-item {
  display: none;
  max-width: 1020px;
  padding: 64px 105px;
  border-radius: 4px;
  background-color: var(--white);
  flex-direction: column;
}

.review-active {
  display: flex;
}

.review-text {
  position: relative;
  max-width: 660px;
  padding-left: 60px;
}

.review-text::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 28px;
  height: 20px;
  background-image: url("../images/braces.png");
  background-size: 28px 20px;
  background-position: center;
  background-repeat: no-repeat;

  content: "";
}

.reviewer-container {
  display: grid;
  max-width: 260px;
  align-items: center;
  grid-template-areas: "image name"
                       "image position";
  padding-left: 60px;
}

.reviewer-container::before {
  display: block;
  width: 72px;
  height: 72px;
  grid-area: image;
  border-radius: 50%;
  background-size: 72px 72px;
  background-position: center;
  background-repeat: no-repeat;

  content: "";
}

.review-item:nth-child(1) .reviewer-container::before {
  background-image: url("../images/reviewer-1.png");
}

.review-item:nth-child(2) .reviewer-container::before {
  background-image: url("../images/reviewer-2.png");
}

.review-item:nth-child(3) .reviewer-container::before {
  background-image: url("../images/reviewer-3.png");
}

.review-item:nth-child(4) .reviewer-container::before {
  background-image: url("../images/reviewer-4.png");
}

.review-item:nth-child(5) .reviewer-container::before {
  background-image: url("../images/reviewer-5.png");
}

.reviewer-name {
  font-weight: 700;
  color: var(--gray-900);
}

.reviewer-position {
  font-size: 14px;
  line-height: 21px;
  color: var(--gray-700);
}

.slider-pagination-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  list-style-type: none;
}

.pagination-btn {
  width: 30px;
  height: 3px;
  border: none;
  background-color: var(--gray-500);
  cursor: pointer;
}

.pagination-btn:not(:last-child) {
  margin-right: 12px;
}

.pagination-btn:hover {
  background-color: var(--gray-800);
}

.active-slide {
  background-color: var(--gray-800);
}

/********************************     Blog-section      ********************************/

.blog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: start;
  grid-column: span 2;
}

.post-item {
  display: flex;
  width: 390px;
  flex-direction: column;
  align-items: start;
}

.post-item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.blog-image-wrapper {
  position: relative;
  width: 390px;
  height: 300px;
  align-self: center;
}

.post-label {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 1px 8px;
  background-color: var(--white);
  border-radius: 4px;

  background-size: 16px 16px;
}

.post-label::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;

  content: "";
}

.post-item:nth-child(1) .post-label::before {
  background-image: url("../images/Mic.svg");
  transform: translateY(2px);
}

.post-item:nth-child(2) .post-label::before {
  background-image: url("../images/Play.svg");
  transform: translateY(2px);
}

.post-item:nth-child(3) .post-label::before {
  background-image: url("../images/Files.svg");
  transform: translateY(2px);
}

.post-parameters {
  display: flex;
  margin-top: 16px;
  margin-left: 0;
  margin-bottom: 8px;
  margin-right: 0;
  padding: 0;
  list-style-type: none;
  color: var(--gray-700);
}

.post-param:not(:last-child)::after {
  display: inline-block;
  height: 12px;
  width: 1px;
  margin: 0 12px;
  background-color: var(--gray-700);

  content: "";
}

.post-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--gray-900);
}

.post-param::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(2px);
}

.post-date::before {
  content: "";
  background-image: url("../images/Calendar.svg");
}

.post-duration::before {
  content: "";
  background-image: url("../images/Clock.svg");
}

.to-post-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-900);
  font-weight: 700;
}

.to-post-btn::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/Red-arrow.svg");

  content: "";
}

.blog-section .parallax:nth-child(1) {
  height: 180px;
  width: 130px;
  top: 550px;
  left: -30px;
  background-image: url("../images/textures/dots-yellow.svg");
}

.blog-section .parallax:nth-child(2) {
  height: 287px;
  width: 287px;
  top: 250px;
  left: 90vw;
  background-image: url("../images/textures/circles-yellow.svg");
}

/********************************     Subscribe-section      ********************************/

.subscribe-section .section-title {
  text-align: center;
}

.subscribe-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  gap: 24px;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.form-input {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-600);

  border: 1px solid var(--gray-400);
  border-radius: 4px;
}

.subscribe-input {
  max-width: 422px;
}

.subscribe-section::before {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 354px;
  height: 246px;

  background-image: url("../images/subscribe-illustration.png");
  background-size: 354px 246px;
  background-repeat: no-repeat;
  background-position: bottom left;

  content: "";
}

.subscribe-section::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 354px;
  height: 246px;

  background-image: url("../images/subscribe-illustration.png");
  background-size: 354px 246px;
  background-repeat: no-repeat;
  background-position: bottom left;

  content: "";
}
/************************************************************************************************

                                  Footer styles

************************************************************************************************/

.page-footer {
  background-color: var(--gray-900);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 20px 60px;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
}

.footer-text {
  max-width: 280px;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
  opacity: 0.6;
}

.footer-social-list {
  display: flex;
  width: 244px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.footer-social-item {
  display: block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.footer-social-item:nth-child(1) {
  background-image: url("../images/Facebook.svg");
}

.footer-social-item:nth-child(2) {
  background-image: url("../images/Twitter.svg");
}

.footer-social-item:nth-child(3) {
  background-image: url("../images/YouTube.svg");
}

.footer-social-item:nth-child(4) {
  background-image: url("../images/telegram.svg");
}

.footer-social-item:nth-child(5) {
  background-image: url("../images/Instagram.svg");
}

.footer-social-item:nth-child(6) {
  background-image: url("../images/Linked-In.svg");
}

.footer-social-item:hover {
  opacity: 1;
}

.footer-social-btn {
  display: block;
  width: 24px;
  height: 24px;
}

.footer-column-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-link {
  text-decoration: none;
  color: var(--white);
  opacity: 0.6;
}

.footer-link:hover {
  opacity: 1;
}

.footer-contacts-item {
  display: flex;
  align-items: center;
}

.footer-contacts-item svg {
  margin-right: 8px;
}

.footer-contacts-item:hover svg {
  fill: var(--white);
}

.footer-input {
  position: relative;
  width: 286px;
  padding: 9px 12px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--white);
  background-image: url("../images/arrow-white.svg");
  background-position: 95% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.footer-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-column:last-child .footer-text {
  width: 286px;
  font-size: 10px;
  line-height: 15px;
  opacity: 1;
}

.footer-bottom-line {
  background-color: rgba(255, 255, 255, 0.05);
}

.copyright-container {
  display: flex;
  max-width: 1230px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--white);
}

.copyright span:first-child {
  margin-right: 2px;
}

.copyright-love {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}

.footer-developer-link {
  color: var(--white);
  text-decoration: dashed underline;
}

.footer-to-top {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.6;
}

.footer-to-top:hover {
  opacity: 1;
}